body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1E212C;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow-x:hidden;
}
.container{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
.button{
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 52px;
    font-weight: 600;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: 1px solid  #F75E05;
    white-space: nowrap;
    transition: .2s;
}
.button--transparent{
    background-color: transparent;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 52px;
    font-weight: 600;
    border: 1px solid  #F75E05;
    white-space: nowrap;
    border-radius: 4px;
    padding: 0 40px;
    transition: .2s;
    color:#FF3F3A;
}
.button:hover,
.button--transparent:hover{
    transform: scale(.95);
}

.logo {
}


/* header-top--------------------------------------------------- */

.header {
    font-weight: 600;
    background: url("../images/decor/shapes-bg.svg") 20% 75%  no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    min-height: 980px;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
}
.header__top {
    position: relative;
    top:20px;

}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-right: 60px;
}
.header__nav {
    margin-right: auto;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
}
.header__nav-item:not(:last-child){
    margin-right: 40px;
}
.header__nav-link {
    font-size: 16px;
    line-height: 1.6;
    color:#424551;
    white-space: nowrap;
    transition: .2s;
}
.header__nav-link:hover{
    color:#FF3F3A;
}
.header__btn-box {
    display: flex;
    align-items: center;
}
.header__top-btn {
    margin-right: 36px;
    max-width: 206px;
}
.button {
}
.header__user-nav {
    white-space: nowrap;
    position: relative;
    padding-left: 28px;
}
.header__user-nav::before{
    content: '';
    background: url(../images/icons/user-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
    display:block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
}
.header__user-btn {
    transition: .2s;
}
.header__user-btn:hover{
    color:#FF3F3A;
}
.heading {
    color: #1E212C;
}
.heading__subtitle {
    display: block;
    line-height: 150%;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.heading__title {
    font-weight:700;
    font-size: 46px;
    line-height: 130%;
}

/* header__body________________________________________________________________________ */
.header__body {
    flex:1;
}
.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}
.header__content {
    padding-right: 30px;
}
.header__play {
    margin-bottom: 40px;
}
.play__btn {
    display:flex;
    align-items: center;
    gap:16px;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}
.play__btn svg{
    border-radius: 50%;
    transition: .3s;
}
.play__btn svg:hover{
    box-shadow: 0 0 15px #F75E05;
}   
.header__title {
    font-weight: 800;
    font-size: 59px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 502px;
    margin-bottom: 60px;
}
.header__content-buttons {
    display: flex;
    align-items: center;
    gap:24px;
}
.header__content-btn {
}
.button--transparent {
}
.header__img {
    min-width: 602px;
    min-height: 551px;
}
.header__img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.header__row > span{
    background-color:#FF3F3A;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 15px;
}
.header__row-item{
    display: flex;
    align-items: center;
    gap:12px;
    font-weight: 400;
}
.header__row-item span{
    font-weight: 600;
    font-size: 46px;
}
/* about___________________________________________________________ */
.about{
    margin: 180px 0 160px 0;
}
.about__inner {
}
.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}
.about__createx::before{
    content: '';
    position: absolute;
    top: -83px;
    right: -150px;
    background: url(../images/decor/1.svg) no-repeat;
    width: 100px;
    height: 85px;
}
.about__heading{
    margin-bottom: 48px;
}
.about__text-content{
    margin-bottom: 60px;
    max-width: 671px;
    margin-right: 30px;
}
.about__text {
    line-height: 160%;
}
.about__text:not(:last-child){
    margin-bottom: 24px;
}
.about__text--accent{
    font-weight: 700;
}
.about__content-buttons {
    display: flex;
    gap:24px;
}
.about__btn {
    min-width:199px;
}
.about__img {
    width: 465px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.about__img img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.about__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__image-box {
    width: 700px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-right: 30px;
}
.about__image-box img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}
.about__numbers {
}
.about__number {
    display: flex;
    align-items: center;
}
.about__number:not(:last-child){
    margin-bottom: 8px;
}
.about__number span{
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 16px;
}


/* directions __________________________________________________________________________ */
.directions {
}
.directions__inner {
}
.directions__heading {
    margin-bottom: 90px;
    text-align: center;
}
.heading__subtitle {
}
.heading__title {
}
.directions__body {
}
.directions__filter-box {
    display: flex;
    gap:45px;
    margin-bottom: 57px;
}
.directions__filter-item {
}
.directions__filter-btn {
    color:#9A9CA5;
    border-radius: 4px;
    border:1px solid #9A9CA5;
    background-color: transparent;
    font-weight: 600;
    line-height: 160%;
    padding: 2px 8px;
    font-size: 16px;
}
.directions__filter-btn--active{
    background-color: #F75E05;
    color:#fff;
    border: 1px solid #F75E05;
}
.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap:30px;
}
.directions__list-item {
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    overflow: hidden;
}
.directions__list-item:hover{
    transition: .2s;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.directions__list-item:hover .directions__link-btn{
    transition: .2s;
    color: #FF3F3A;
}
.directions__list-link {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}
.directions__image-box {
    height: 100%;
    width: 100%;
}
.directions__image-box {
    width: 390px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.directions__image-boximg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.directions__link-content {
    padding: 24px;
}
.directions__link-tag {
    font-weight: 600;
    color:#fff;
    line-height: 160%;
    padding: 2px 8px;
    background-color: #F75E05;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 21px;
}
.directions__link-text {
    margin-bottom: 20px;
    line-height: 160%;
    font-weight: 400;
    font-size: 14px;
    color: #787A80;
}
.directions__link-btn {
    display: flex;
    font-weight: 600;
    transition: .2s;
}
.directions__link-btn::after{
    content: '';
    width: 24px;
    height: 24px;
    background: url(../images/icons/arrow-right-red.svg) 0 -3px / 100%,  no-repeat;
    margin-left: 11px;
}
.directions__list-item--empty {
    background-color: #F4F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.directions__list-item--empty span{
    max-width: 242px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

/* directions__list-item ---mod------------start */

/* directions__list-item ---mod------------end */