body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #1E212C;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}
.container{
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
.overlay{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    bottom: 0;
    background-color: #1E212C;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    transition: all .3s;
}
.overlay-show{
    opacity: .6;
    visibility: visible;
}
.main__about{
    margin: 180px 0 160px 0;
}
.main__directions{
    padding-bottom: 180px;
}
.main_cert{
    margin-bottom: -46px;
}
.main__testimonials{
    padding-bottom:195px ;
}
.main__companies {
    padding-bottom: 177px;
}
.main__program {
    padding: 115px 0 185px;
}
.main__blog {
    padding-bottom: 200px;
}
.main__info {
    padding-bottom: 180px;
}
.main__questions {
    padding-bottom: 180px;
}
.button{
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 52px;
    font-weight: 600;
    padding: 0 40px;
    color: #fff;
    border-radius: 4px;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border: 1px solid  #F75E05;
    white-space: nowrap;
    transition: .2s;
}
.button--transparent{
    background-color: transparent;
    display: inline-block;
    letter-spacing: 0.5px;
    line-height: 52px;
    font-weight: 600;
    border: 1px solid  #F75E05;
    white-space: nowrap;
    border-radius: 4px;
    padding: 0 40px;
    transition: .2s;
    color:#FF3F3A;
}
.button:hover,
.button--transparent:hover{
    transform: scale(.95);
}
.burger{
    display: none;
}
.header-burger__logo{
    display: none;
}
/* ==================================================Header Top================================================== */
/* ==================================================Header Top================================================== */

.header {
    font-weight: 600;
    background: url("../images/decor/shapes-bg.svg") 20% 75%  no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
    height: 100vh;
    min-height: 980px;
    max-height: 1080px;
    display: flex;
    flex-direction: column;
}
.header__top {
    position: relative;
    top:20px;

}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    margin-right: 60px;
}
.header__nav {
    margin-right: auto;
}
.header__nav-list {
    display: flex;
}
.header__nav-item {
}
.header__nav-item:not(:last-child){
    margin-right: 40px;
}
.header__nav-link {
    font-size: 16px;
    line-height: 1.6;
    color:#424551;
    white-space: nowrap;
    transition: .2s;
}
.header__nav-link:hover{
    color:#FF3F3A;
}
.header__btn-box {
    display: flex;
    align-items: center;
}
.header__top-btn {
    margin-right: 36px;
    max-width: 206px;
}
.button {
}
.header__user-nav {
    white-space: nowrap;
    position: relative;
    padding-left: 28px;
}
.header__user-nav::before{
    content: '';
    background: url(../images/icons/user-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
    display:block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
}
.header__user-btn {
    transition: .2s;
}
.header__user-btn:hover{
    color:#FF3F3A;
}
.heading {
    color: #1E212C;
}
.heading__subtitle {
    display: block;
    line-height: 150%;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.heading__title {
    font-weight:700;
    font-size: 46px;
    line-height: 130%;
}

/* ==================================================Header body================================================== */
/* ==================================================Header body================================================== */
.header__body {
    flex:1;
}
.header__body-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 0;
}
.header__content {
    padding-right: 30px;
}
.header__play {
    margin-bottom: 40px;
}
.play__btn {
    display:flex;
    align-items: center;
    gap:16px;
    background: transparent;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
}
.play__btn svg{
    border-radius: 50%;
    transition: .3s;
}
.play__btn svg:hover{
    box-shadow: 0 0 15px #F75E05;
}   
.header__title {
    font-weight: 800;
    font-size: 59px;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 502px;
    margin-bottom: 60px;
}
.header__content-buttons {
    display: flex;
    align-items: center;
    gap:24px;
}
.header__img {
    min-width: 602px;
    min-height: 551px;
}
.header__img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.header__row > span{
    background-color:#FF3F3A;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin: 0 15px;
}
.header__row-item{
    display: flex;
    align-items: center;
    gap:12px;
    font-weight: 400;
}
.header__row-item span{
    font-weight: 600;
    font-size: 46px;
}
/* ==================================================About================================================== */
/* ==================================================About================================================== */
.about{
    
}
.about__inner {
}
.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}
.about__createx::before{
    content: '';
    position: absolute;
    top: -83px;
    right: -150px;
    background: url(../images/decor/1.svg) no-repeat;
    width: 100px;
    height: 85px;
}
.about__heading{
    margin-bottom: 48px;
}
.about__text-content{
    margin-bottom: 60px;
    max-width: 671px;
    margin-right: 30px;
}
.about__text {
    line-height: 160%;
}
.about__text:not(:last-child){
    margin-bottom: 24px;
}
.about__text--accent{
    font-weight: 700;
}
.about__content-buttons {
    display: flex;
    gap:24px;
}
.about__btn {
    min-width:199px;
}
.about__img {
    width: 465px;
    height: 400px;
    overflow: hidden;
    position: relative;
}
.about__img img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.about__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__image-box {
    width: 700px;
    height: 500px;
    overflow: hidden;
    position: relative;
    margin-right: 30px;
}
.about__image-box img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}
.about__number {
    display: flex;
    align-items: center;
}
.about__number:not(:last-child){
    margin-bottom: 8px;
}
.about__number span{
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 1px;
    color: #FF3F3A;
    margin-right: 16px;
}


/* ==================================================Directions================================================== */
/* ==================================================Directions================================================== */
.directions {
    
}
.directions__inner {
    position: relative;
}
.directions__inner::before{
    content: '';
    position: absolute;
    top: 23px;
    left: -185px;
    background: url(../images/decor/2.svg);
    width: 136px;
    height: 115px;
    display: block;
}
.directions__inner::after{
    content: '';
    position: absolute;
    top: 400px;
    right: -390px;
    background: url(../images/decor/3.svg);
    width: 243px;
    height: 243px;
    display: block;
    opacity: .12;
}
.directions__heading {
    margin-bottom: 90px;
    text-align: center;
}
.directions__filter-box {
    display: flex;
    gap:45px;
    margin-bottom: 57px;
}
.directions__filter-btn {
    color:#9A9CA5;
    border-radius: 4px;
    border:1px solid #9A9CA5;
    background-color: transparent;
    font-weight: 600;
    line-height: 160%;
    padding: 2px 8px;
    font-size: 16px;
}
.directions__filter-btn--active{
    background-color: #F75E05;
    color:#fff;
    border: 1px solid #F75E05;
}
.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap:30px;
}
.directions__list-item {
    border: 1px solid #E5E8ED;
    border-radius: 4px;
    overflow: hidden;
}
.directions__list-item:hover{
    transition: .2s;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}
.directions__list-item:hover .directions__link-btn{
    transition: .2s;
    color: #FF3F3A;
}
.directions__list-link {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    overflow: hidden;
}
.directions__image-box {
    height: 100%;
    width: 100%;
}
.directions__image-box {
    width: 390px;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.directions__image-box img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.directions__link-content {
    padding: 24px;
}
.directions__link-tag {
    font-weight: 600;
    color:#fff;
    line-height: 160%;
    padding: 2px 8px;
    background-color: #F75E05;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 21px;
}
.directions__link-text {
    margin-bottom: 20px;
    line-height: 160%;
    font-weight: 400;
    font-size: 14px;
    color: #787A80;
}
.directions__link-btn {
    display: flex;
    font-weight: 600;
    transition: .2s;
}
.directions__link-btn::after{
    content: '';
    width: 24px;
    height: 24px;
    background: url(../images/icons/arrow-right-red.svg) 0 -3px / 100%,  no-repeat;
    margin-left: 11px;
}
.directions__list-item--empty {
    background-color: #F4F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.directions__list-item--empty span{
    max-width: 242px;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}

                            /* directions__list-item ---mod------------start */
.directions__list-item--marketing .directions__link-tag {
    background-color: #03CEA4;
}
.directions__list-item--management .directions__link-tag {
    background-color: #5A87FC;
}
.directions__list-item--hr .directions__link-tag {
    background-color: #F89828;
}
.directions__list-item--design .directions__link-tag {
    background-color: #F52F6E;
}
.directions__list-item--development .directions__link-tag {
    background-color: #7772F1;
}
                            /* directions__list-item ---mod------------end */


/* ==================================================Certficat================================================== */
/* ==================================================Certficat================================================== */

.cert__inner {
    display: flex;
    /* justify-content: space-between; */
    position: relative;
}
.cert__inner::after{
    content: '';
    position: absolute;
    top: -35px;
    left: -171px;
    background: url(../images/decor/4.svg) 0 0 no-repeat;
    width: 60px;
    height: 60px;
    display: block;
}
.cert__content {
    margin-right: 30px;
    max-width: 410px;
}
.cert__heading {
    margin-bottom: 50px;
}
.cert__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 30px;
}
.cert__logs {
    display: flex;
    align-items: center;
    gap:40px;
}
.cert__logs-item {
}
.cert__image-box {
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    border-radius: 4px;
    overflow: hidden;
    width: 705px;
    height: 500px;
    margin-left: auto;
    position: relative;
}
.cert__image-box img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    object-fit: cover;
}
/* ==================================================Team================================================== */
/* ==================================================Team================================================== */
.main__team {
    padding: 160px 0 180px;
}
.team {
    background: url(../images/decor/team-bg.svg) 210px 30px no-repeat, #F4F5F6;
}
.team__inner {
}
.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__slider .slick-list{
    margin: 0 -15px;
}
.team__slide {
    padding: 0 15px;
}
.team__slide:hover .team__socials{
    transform: translateY(0);
}
.team__image-box {
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
}
.team__image {
    position: relative;
    height: 340px;
    overflow: hidden;
}
.team__image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: top;
}
.team__socials {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap:12px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    top:50%;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
    transform: translateY(50%);
    transition: transform .3s ease;
}
.team__socials-item {
}
.team__socials-link {
    display: block;
    line-height: 0;
    
}
.team__socials-link path {
    transition: .3s;
}
.team__socials-link:hover path {
    fill: #fff;
}
.team__info {
    text-align: center;
}
.team__info-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 5px;
}
.team__info-position {
    color: #787A80;
}

.team__slider-arrows{
    position: absolute;
    bottom:0;
    right: 0;
}
.team__slider-arrows{
    display: flex;
    gap:10px;
}
.team__slider-arrow {
    background-color: transparent;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3 ;
}
.team__slider-arrow:hover {
    background-color: #FF3F3A;
}
.team__slider-arrow path{
    transition:  .3s;
}
.team__slider-arrow:hover path {
    fill:#fff;
}
.team__slider-prev {
    margin-right: 24px;
}
.team__slider-next {
}

/* ==================================================Testimonials================================================== */
/* ==================================================Testimonials================================================== */
.testimonials {
    background:url(../images/decor/testi-bg.svg) calc(50% + 121px) calc(50% - 21px) no-repeat, #F4F5F6;
}
.testimonials__inner {
}
.testimonials__heading {
    text-align: center;
    margin-bottom: 60px;
}
.testimonials__slider-wrapper {
    padding: 0 50px;
    position: relative;
    margin-bottom: 46.5px;
}
.testimonials__slider {
    max-width: 1020px;
    margin: 0 auto;
}
.testimonials__slide {
    padding: 64px;
    background-color: #fff;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
}
.testimonials__slide-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}
.testimonials__quote {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    position: relative;
}
.testimonials__quote::before{
    content: '';
    position: absolute;
    top:0;
    left: -58px;
    background: url('../images/icons/quote-icon.svg') 0 0/ 100% no-repeat;
    width: 28px;
    height: 20px;
}
.testimonials__user {
    display: flex;
    align-items: center;
    gap: 20px;
}
.testimonials__avatar {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    overflow: hidden;
}
.testimonials__info {
}
.testimonials__info-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 4px;
    color: #1E212C;
}
.testimonials__info-position {
}

.testimonials__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3 ;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    padding: 5px;
}
.testimonials__arrow::before{
    content: '';
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: transparent;
    z-index: -1;
    border-radius: 50%;
    transform: scale(0);
    transition: .3s;
}
.testimonials__arrow:hover::before {
    transform: scale(1);
    background-color: #FF3F3A;
}
.testimonials__arrow path{
    transition:  .3s;
}
.testimonials__arrow:hover path {
    fill:#fff;
}
.testimonials__prev {
    left: 0;
}
.testimonials__next {
    right: 0;
}
.testimonials__dots{

}
.testimonials__dots .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
}
.testimonials__dots li{

}
.testimonials__dots button{
    font-size: 0;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
.testimonials__dots button::before{
    content: '';
    height: 3px;
    width: 100%;
    background-color: #B3B7BC;
    border-radius: 3px;
    transition: .3s;
}
.testimonials__dots .slick-active button::before{
    background-color: #424551;
}
/* ==================================================Companies================================================== */
/* ==================================================Companies================================================== */
.companies {
    background-color:#F4F5F6;
}
.companies__inner {
    position: relative;
}
.companies__inner::before{
    content: '';
    position: absolute;
    left: -230px;
    bottom: -120px;
    background: url(../images/decor/5.svg) 0 0 / 100% no-repeat;
    width: 90px;
    height: 90px;
}
.companies__heading {
    text-align: center;
    margin-bottom: 60px;
}
.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap:40px 100px;
}
.companies__grid-item {
}
.companies__grid-link {
    display: block;
}
.companies__grid-link img{
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: 0.4;
    transition: .3s;
}
.companies__grid-link:hover img {
    opacity: 1;
    filter: grayscale(0);
}
/* ==================================================Accordeon================================================== */
/* ==================================================Accordeon================================================== */
.program {
}
.program__inner {
    display: flex;
    justify-content: space-between;
}
.program__content {
    margin-right: 30px;
    max-width: 600px;
}
.program__heading {
    margin-bottom: 60px;
}
.program__acc {
}
.program__acc-item {
    
}
.program__acc-item:not(:last-child) {
    margin-bottom: 24px;
}
.program__acc-link{
    padding-left: 40px;
    display: block;
}
.program__acc-head {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    display: flex;
    align-items: flex-start;
    position: relative;
    white-space: nowrap;
}
.program__acc-head span {
    color:#FF3F3A;
    font-weight: 400;
    margin-right: 8px;
}
.program__acc-head::before,
.program__acc-head::after {
   content: '';
   width: 18px;
   height: 2px;
   position: absolute;
   top:50%;
   transform: translateY(-50%);
   left:-40px;
   background-color:#FF3F3A;
   border-radius: 2px;
   transition: .3s;
}
.program__acc-head::before{

}
.program__acc-head::after {
    transform: rotate(90deg);
   
}
.program__acc-text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
}
.program__acc-link--active .program__acc-head::after{
    transform: rotate(0deg);
}
.program__image {
    
}

/* ==================================================Blog================================================== */
/* ==================================================Blog================================================== */
.blog {
}
.blog__inner {
}
.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 60px;
}
.blog__heading {
    margin-right: 30px;
}
.blog__btn {
    font-size: 16px;
}
.button {
}
.blog__row {
    display: flex;
    margin: 0 -15px;
}
.blog__item {
    padding: 0 15px;
}
.blog__item-link {
}
.blog__item-inner {
}
.blog__image-box {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
}
.blog__image-box span{
    display: flex;
    align-items: center;
    position: absolute;
    top:12px;
    left: 12px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 5px 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.blog__image-box span::before{
    content: '';
    display:block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}
.blog__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog__item-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.blog__item-info {
    display: flex;
    margin: 0 -12px 8px;
}
.blog__info-el{
    padding: 0 12px;
    position: relative;
    color: #787A80;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}
.blog__info-el::after{
    content: '';
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 12px;
    background-color: #9A9CA5;
}
.blog__info-el:first-child::after{
    content: none;
}
.blog__info-date {
    display: flex;
    align-items: center;
}
.blog__info-date::before {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    background: url(../images/icons/calendar-icon.svg) 0 0 / 100% no-repeat;
    margin-right: 9px;
}
.blog__info-time {
    display: flex;
    align-items: center;
}
.blog__info-time::before {
    content: '';
    display: block;
    width: 16px;
    height: 15px;
    background: url(../images/icons/clock-icon.svg) 0 0 / 100% no-repeat;
    margin-right: 9px;
}
.blog__info-dir{
    font-weight: 600;
}
.blog__item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
    margin-bottom: 8px;
    flex: 1;
}
.blog__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 16px;
}
.blog__item-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #1E212C;
    display: flex;
    align-items: center;
}
.blog__item-btn::after{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icons/arrow-right-red.svg) 0 0 / 100% no-repeat;
    margin-left: 8px;
}

.blog__item--podcast .blog__image-box span::before{
    background: url(../images/icons/podcast-icon.svg) 0 0 / 100% no-repeat;
}
.blog__item--video .blog__image-box span::before{
    background: url(../images/icons/play-mini.svg) 0 0 / 100% no-repeat;
}
.blog__item--article .blog__image-box span::before{
    background: url(../images/icons/article-icon.svg) 0 0 / 100% no-repeat;
}

.blog__item--article .blog__info-time{
    display: none;
}

/* ==================================================Info================================================== */
/* ==================================================Info================================================== */

.info {
}
.info__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.info__content {
    margin-right: 30px;
}
.info__heading {
    margin-bottom: 40px;
}
.info__contacts {
    margin-bottom: 50px;
}
.info__contacts-item {
    margin-bottom: 24px;
    padding-left: 24px;
}
.info__contacts-item:last-child{
    margin-bottom: 0px;
}
.info__item-top {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #787A80;
    position: relative;
}
.info__item-top::before{
    content: '';
    position: absolute;
    top:0;
    left: -34px;
    width: 24px;
    height: 24px;

}
.info__item-link {
    font-size: 18px;
}
.info__contacts-item--mail .info__item-top::before {
    background: url(../images/icons/chat-icon.svg) 0 0 / 100% no-repeat;
}
.info__contacts-item--tel .info__item-top::before{
    background: url(../images/icons/phone-icon.svg) 0 0 / 100% no-repeat;
}
.info__contacts-item--address .info__item-top::before{
    background: url(../images/icons/mark-icon.svg) 0 0 / 100% no-repeat;
}
.info__item-address {
    font-size: 18px;
}
.info__follow {
}
.info__follow-head {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.info__socials {
    display: flex;
    align-items: center;
    gap:32px;
}
.info__socials-item {
}
.info__socials-link path{
    transition: .3s;
}
.info__socials-link:hover path{
    fill:#000;
}
.info__map {
    height: 412px;
    max-width: 705px;
    width: 100%;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    overflow: hidden;
}

/* ==================================================questions================================================== */
/* ==================================================questions================================================== */

.questions {
}
.questions__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.questions__image {
}
.questions__content {
    margin-left: 30px;
    max-width: 705px;
}
.questions__heading {
    margin-bottom: 40px;
}
.questions__form {
}
.questions__form-row {
    display: flex;
    margin-bottom: 24px;
}
.questions__form-label {
    flex: 1 1 auto;
}
.questions__form-label:not(:last-child){
    margin-right: 25px;
}
.questions__form-input,
.questions__form-text {
    border: 1px solid #D7DADD;
    border-radius: 4px;
    padding: 13px 16px;
    display: block;
    width: 100%;
    margin-top: 8px;
}
.questions__form-input::placeholder,
.questions__form-text::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
}  
.questions__form-text {
    resize: none;
    height: 128px;
}
.questions__text-label{
    display: block;
    margin-bottom: 50px;
}
.questions__checkbox-label{
    margin-right: 50px;
    display: flex;
    width: 100%;
}
.questions__form-checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    flex: 0 0 auto;
    margin-right: 12px;
}
.questions__form-default {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
}
.questions__form-default:checked + .questions__form-custom {
    background: url(../images/icons/check.svg) 50% 50% no-repeat,  #FF3F3A;
    border: 1px solid #FF3F3A;
}
.questions__form-custom {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #1E212C;
    border-radius: 3px;
    cursor: pointer;
}
.questions__btn {
    width: 100%;
    max-width: 340px;
    align-self: center;
    font-size: 16px;
}

/* ==================================================footer================================================== */
/* ==================================================footer================================================== */
.footer {
    color:#fff;
}
.footer__top {
    background-color: #1E212C;
    padding: 80px 0 60px 0;
}
.footer__top-inner {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    margin: 0 -15px;
}
.footer__top-col {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}
.footer__top-col:first-child {
    max-width: 315px;
}
.footer__top-col:last-child {
    max-width: 310px;
}
.footer__logo {
    display: block;
    margin-bottom: 25px;
}
.footer__top-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 38px;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap:20px;
}
.footer__socials-item {
}
.footer__socials-link path{
    transition: .3s;
}
.footer__socials-link:hover path{
    fill:#fff;
}
.footer__top-title {
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 12px;
    white-space: nowrap;
}
.footer__top-col:last-child .footer__top-title{
    white-space: normal;
}
.footer__top-list {
}
.footer__top-item:not(:last-child) {
    margin-bottom: 8px;
}
.footer__item-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    opacity: .6;
    transition: .3s;
    white-space: nowrap;
}
.footer__item-link svg{
    margin-right: 8px;
}
.footer__item-link:hover{
    opacity: 1;
}
.footer__form {

}
.footer__form-items{
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-bottom: 12px;
    display: flex;
}
.footer__form-input {
    padding: 9px 12px;
    color: #fff;
    width: 100%;
    position: relative;
    background-color: transparent;
}
.footer__form-btn{
    padding: 10px 12px 10px 12px;
    background-color: transparent;
}
.footer__form-btn::before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icons/arrow-right-mini.svg);
    transform: scale(1);
    transition: .3s;
}.footer__form-btn:hover::before{
    transform: scale(1.2);
}
.footer__form-input::placeholder{
    color:#fff;
    opacity: .6;
}
.footer__form-input::after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    right: 0;
    background: url(../images/icons/arrow-right-mini.svg) 0 0 / 100% no-repeat;
    width: 16px;
    height: 16px;
}
.form__descr {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    color:#fff;
}
/* -------------------- */
.footer__bottom {
    background: rgba(29, 33, 44, .9);
}
.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.footer__copy {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;  
}
.footer__copy span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icons/heart-icon.svg) 0 0 / 100% 100% no-repeat;
    position: relative;
    top:2px;
}
.footer__go-top {
    text-transform: uppercase;
    opacity: .6;
    transition: .3s;
}
.footer__go-top:hover{
    opacity: 1;
}









/* ==================================================Media================================================== */
/* ==================================================Media================================================== */
@media screen and (max-width:1200px){
    .header__title{
        font-size: 43px;
    }
}
@media screen and (max-width:1180px) {
    .header__nav-item:not(:last-child) {
        margin-right: 25px;
    }
    .header__img{
        width: 500px;
        min-width: initial;
        min-height: initial;
    }
    .cert__inner{
        flex-direction: column;
        align-items: center;
    }
    .cert__content{
        margin-bottom: 40px;
        max-width: initial;
        margin-right: 0;
    }
    .cert__heading{
        text-align: center;
    }
    .cert__text{
        max-width: 500px;
    }
    .cert__image-box{
        width: 100%;
    }
    .cert__image-box img{
        max-width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
@media screen and (max-width:1080px){
    .burger{
        position: fixed;
        top:15px;
        right: 15px;
        z-index: 110;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: all .3s;
    }
    .burger--follow{
        box-shadow: 0 1px 10px -1px #1E212C;
        background-color: #fff;
    }
    .burger span{
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #1E212C;
        margin: 4px 0;
    }
    .burger::before,
    .burger::after{
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        border-radius: 3px;
        background-color: #1E212C;
    }
    .header-burger__logo{
        display: block;
        position: absolute;
        top: 34px;
        left: 26px;
        z-index: 1;
    }
    .header{
        padding-top: 74px;
        min-height: initial;
        height: 715px;
    }
    .header__top{
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .3s;
    }
    .header__top--open{
        transform: translateX(0%);
    }
    .header__top-inner{
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 100px 0;
    }
    .header__logo{
        margin: 0;
        margin-bottom: 80px;
    }
    .header__nav{
        margin: 0 auto;
        flex-grow: 1;
    }
    .header__nav-list{
        flex-direction: column;
        text-align: center;
    }
    .header__nav-item{
        margin: 0;
    }
    .header__nav-item:not(:last-child){
        margin: 0;
        margin-bottom: 30px;
    }
    .header__nav-link{
        font-size: 20px;
    }
    .header__btn-box{
        flex-direction: column-reverse;
    }
    .header__top-btn{
        width: 100%;
        margin-right: 0;
        max-width: 100%;
        font-size: 20px;
        margin-top: 30px;
    }
    .header__user-nav{
        margin-top:80px;
    }
    .header__row{
        display: none;
    }
    .main__about {
        margin: 80px 0 80px 0;
    }
    .main__testimonials {
        padding-bottom: 80px;
    }
    .about__createx-content{
        display: flex;
        flex-direction: column;
    }
    .about__img{
        display: none;
    }
    .about__value{
        flex-direction: column;
    }
    .about__image-box{
        width: 100%;
        margin-bottom: 40px;
        margin-right: 0px;
    }
    .about__image-box img{
        width: 100%;
        height: 100%;
    }
    .about__numbers{
        display: none;
    }
    .about__createx{
        margin-bottom: 100px;
    }
    .directions__filter-box{
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 30px;
    }
    .directions__list{
        gap: 30px 10px;
    }
    .directions__link-content{
        padding: 15px;
    }
    .cert__heading .heading__title{
        max-width: 500px;
    }
}
@media screen and (max-width:890px){
    .header__play{
        margin-bottom:25px;
    }
    .header__title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .main__directions {
        padding-bottom: 80px;
    }

}
@media screen and (max-width:767px){
    .header{
        height: 658px;
    }
    .header__img{
        display: none;
    }
    .header__main{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .directions__filter-box{
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .directions__list{
        grid-template: repeat(3, auto) / repeat(2, 1fr);
    }
    .main__team{
        padding: 100px 0 80px;
    }
    .testimonials__slider-wrapper{
        padding: 0;
    }
    .testimonials__arrow{
        display: none;
    }
    .testimonials__slide{
        padding: 21px;
    }
}
@media screen and (max-height:580px){
    .header__top{
        overflow: auto;
    }
    .header__top-btn{
        margin-bottom: 100px;
    }
}
@media screen and (max-width:580px){
    .header__top{
        width: 100%;
    }
    .about__content-buttons{
        flex-direction: column;
    }
    .directions__list{
        grid-template: none;
    }
    .directions__image-box{
        width: 100%;
    }
    .directions__list {
        gap: 15px 10px;
    }
    .directions__list-item--empty{
        padding: 79px 0;
    }
    .cert__image-box{
        height: 362px;
    }
    .heading__title{
        font-size: 32px;
    }
    .cert__heading{
        margin-bottom: 25px;
    }
    .team__slider-arrows{
        display: none;
    }
    .cert__logs {
        gap: 25px;
    }
    .testimonials__slide-inner{
        width: 100%;
        padding-left: 40px;
    }
    .testimonials__quote::before{
        left: -40px;
    }
    .testimonials__quote{
        font-size: 16px;
    }
}
@media screen and (max-width:390px){
    .header__title{
        font-size: 32px;
    }
    .header__content{
        padding-right: 0;
    }
    .header__content-buttons{
        flex-direction: column;
    }
    .header__content-btn{
        width: 100%;
    }
    .heading__title{
        font-size: 32px;
    }
    .heading{
        margin-bottom: 25px;
    }
    .cert__image-box {
        height: 240px;
        box-shadow:initial;
    }
    .cert__logs{
        flex-wrap: wrap;
        gap: 22px;
    }
    .cert__text{
        width: 100%;
        font-size: 14px;
    }
    .cert__heading{
        margin-bottom: 0;
    }

}
@media screen and (max-width:320px){
    .testimonials__quote{
        font-size: 13px;
    }
    .testimonials__info-name{
        font-size: 13px;
    }
    .testimonials__user{
        font-size: 10px;
    }
}